body{
    margin: 0px ;
    padding: 0px;
    background-color: #161616 ;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: right bottom;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color:#292929;
    font-family: poppins;
    margin-left: 0px;
}
.menu li a:hover, 
.active{
    background-color: #292929;
    color: #ffffff !important;
    font-weight: 700; 
}

.intro{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20% ,-50%);
}

.intro p:nth-child(1),
.intro #details{
    font-size: 16px;
    color: #6c707c;
}
.intro h1{
    font-family: Poppins;
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    color: #292929;
    
}
.contact-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}
.contact-btn:hover{
    background-color: #111111;  
}

