<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #edf1fd;
  background-image: url("../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: poppins;
  margin-left: 0px;
}
.menu li a:hover,
.active {
  background-color: #292929;
  color: #ffffff !important;
  font-weight: 700;
}

.intro {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.intro p:nth-child(1),
.intro .details {
  font-size: 18px;
  color: #6c707c;
}
.intro h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0;
  letter-spacing: 3px;
  color: #292929;
}
.contact-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
}
.contact-btn:hover {
  background-color: #111111;
  transition: all ease 0.5s;
}
#about {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
}
.about-text {
  font-family: calibri;
  width: 50%;
}
.about-text h1 {
  font-size: 5rem;
  color: #17d1ac;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.about-taxt h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.about-text p {
  font-size: 1.2rem;
  color: #ffffff;
}
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: none;
  outline: none;
  background-color: #17d1ac;
}
.about-text button:hover {
  background-color: #ffffff;
  transition: all ease 0.3s;
}

/* PORTFOLIO Section */
#portfolio {
  width: 100%;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 2% 20px 2%;
}

.p-heading {
  font-family: calibri;
  font-size: 1.7rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #292929;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}
.p-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-b-container {
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.text-overlay {
  font-family: calibri;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 209, 172, 0.8);
  display: none;
}
.text-overlay h1,
p {
  color: #ffffff;
}
.text-overlay h1 {
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
}
.text-overlay p {
  font-size: 1.2rem;
  margin: 0px;
  text-align: center;
}
.p-box:hover .text-overlay {
  display: flex;
}
=======
html{
        scroll-behavior:smooth;
    }
body{
    margin: 0px ;
    padding: 0px;
    background-color: #161616 ;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: right bottom;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color:#292929;
    font-family: poppins;
    margin-left: 0px;
}
.menu li a:hover, 
.active{
    background-color: #292929;
    color: #ffffff !important;
    font-weight: 700; 
}

.intro{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20% ,-50%);
}

.intro p:nth-child(1),
.intro #details{
    font-size: 16px;
    color: #6c707c;
}
.intro h1{
    font-family: Poppins;
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    color: #292929;
    
}
.contact-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}
.contact-btn:hover{
    background-color: #111111;  
}
#about{
    
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    
}
.about-text{
    font-family: calibri;
    width: 50%;
}
.about-text h1{
    font-size: 5rem;
    color: #17d1ac;
}
.about-text h2{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;
}
.about-taxt h1,h2{
    margin:0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color:#FFFFFF;
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: :none;
    outline: none;
    background-color: #17d1ac;
}
.about-text button:hover{
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}

#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 30px 0px;
}
.c-b-heading{
	font-size: 3rem;
	color:#1E1E1E;
	font-family: monospace;
	margin: 10px;
	padding: 5px;
	border-bottom: 3px solid #1E1E1E;
	
}
#contact-btn button{
	color:#FFFFFF;
	font-size: 15px;
	font-family: monospace;
    font-weight: bold;
	width:170px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact-btn button:hover{
	background-color: #17d1ac;
	color:#000000;
	transition: all ease 1s;
	font-weight: bold;
}

#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#contact-form form{
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1A1A1A;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01)
}

.contact-left{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border-left: 1px solid rgba(255,255,255,0.08);
}

.contact-right button{
	width: 100%;
	height: 50px;
	background-color: #17d1ac;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
 
}

.contact-right button:hover{
	background-color: limegreen;
	color:#000000;
	transition: all ease 1s;
	font-weight: bold;
}

.c-l-heading{
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	
}

.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	
}

.f-name font,.f-email font{
	color:white;
	font-size: 22px;
}

.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}

.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}


.f-name input:focus{
	border-bottom: 1px solid #17d1ac;
	transition: all ease 0.5s;
}

.message font{
	font-size: 18px;
	color:#4E4E4E;
	font-family: calibri;
	
}

.message{
	margin: 20px;
}

.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}

.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}

.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}
